body {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}


nav{
    padding: top 1px;;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

h2 {
    font-weight: bold;
}

button.btn-success{
    background-color: #5CB85F;
    border-color: #5CB85F;
    font-weight: bold;
}

a:hover{
    color: rgb(20, 236, 85);
}

.box-shape{
    background-color: #0D28A6;
    border-radius: 25px;
}

.card-pic{
    width: 32px;
    height: 32px;
    margin-top: 24px;
    margin-left: 24px;    
}

#containerMulaiSewa {
    position: relative;
    background-color: #0D28A6;
    border-radius: 13px;
    margin-top: 156px;
    color: white;
    width: 1168px;
    height: 326px;
  }

#h2MulaiSewa {
    padding-top: 64px;
    padding-bottom: 16px;
    padding-left: 270px;
    padding-right: 285px;
}

#p2MulaiSewa{
    padding-top: 16px;
    padding-bottom: 52px;
    margin-left: 342px;
    margin-right: 358px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

#carousel-body{
    height: 270px;
    width: 619px;
    background-color: #F1F3FF;
    border-radius: 5px;
    padding-top: 5%;
}

.carousel-control-prev, .carousel-control-next{
    position: static;
    padding-top: 3%;
}    

.accordion-button:not(.collapsed){
    color: black;
    background-color:black;
    box-shadow: inset;
    
}

.accordion-button{
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 4px;
}

.accordion-body{
    border: 1px solid #d4d4d4;
    border-top: none;
    box-sizing: border-box;
    border-radius: 4px;
}
